anthropic >= 0.31.2
aiofiles >= 23.2.1
types-aiofiles >= 23.2.1
aiohttp >= 3.9.5
jinja2 >= 3.1.5
uvicorn >= 0.22.0
pydantic >= 2.0
fastapi >= 0.115.0
sqlalchemy >= 2.0.15
requests >= 2.32.3
types-requests >= 2.32.0
tqdm >= 4.66.0
types-tqdm >= 4.66.0
