Запрос:
###
{{query}}
###

Шаблоны мемов:
{% for template in meme_templates %}
###
Name: {{template.name}}
Example texts: {{template.example.text}}
Example url: {{template.example.url}}
{% endfor %}
###

Для заданного запроса и каждого шаблона выше сделай смешной мем с помощью memegen.
Нельзя использовать стандартные подписи, обязательно адаптируй их под запрос.
Делай подписи строго на русском языке, даже если в оригинале они были на английском.
Для каждого шаблона напиши план того, как собираешься заполнить подписи.
После заполнения всех шаблонов, выбери наиболее смешной и положи ссылку на него в best_image_url.
Верни JSON следующей структуры:
{
    "memes": {
        [
            {
                "plan": "...",
                "image_url": "...",
            },
            ...
        ]
    },
    "best_image_url_explanation": "...",
    "best_image_url": "..."
}
