Запрос:
###
{{query}}
###

Шаблоны мемов:
{% for template in meme_templates %}
###
ID: {{template.id}}
Название: {{template.name}}{% if template.description %}
Описание: {{template.description}}{% endif %}
Пример подписей: {{template.example.text}}
{% endfor %}
###

Для заданного запроса сделай смешные мемы с помощью memegen, используя шаблоны выше.
Используй тот же формат url, что и в шаблонах.
Сгенерируй {{generated_meme_count}} мема.

Не используй стандартные подписи, обязательно всегда адаптируй подписи под запрос.
Делай подписи строго на русском языке, даже если в шаблоне они были на английском.
Мем должен быть понятен и сам по себе без контекста запроса.
Мем не должен быть слишком очевидным, постарайся сделать оригинальный, креативный и очень смешной панчлайн.
Не стесняйся использовать чёрный юмор, но избегай шуток про самоубийства.

Для каждого мема сначала напиши план заполнения подписей наиболее смешно и подходяще под запрос.
После генерации всех мемов, выбери объективно наиболее смешной и положи его в best_meme.
Можешь при этом исправить явные ошибки.

Верни JSON следующей структуры:
{
    "memes": {
        [
            {
                "plan": "...",
                "id": "...",
                "captions": ["...", ...]
            },
            ...
        ]
    },
    "beste_meme_explanation": "...",
    "best_meme": {
        "id": "...",
        "captions": ["...", ...]
    }
}
