# Задача
Есть запрос и шаблоны мемов.
Тебе нужно создать смешной и оригинальный мем, отталкиваясь от запроса и шаблонов.
Ты можешь перерисовывать шаблоны, чтобы они лучше подходили запросу.

# Запрос
---
{{query}}
---

# Шаблоны мемов {% for template in meme_templates %}
---
ID: {{template.id}}
Название: {{template.name}}{% if template.description %}
Описание: {{template.description}}{% endif %}{% for example in template.query_examples %}
Пример запроса {{loop.index}}: "{{example.query}}"
Пример подписей {{loop.index}}: ["{{'", "'.join(example.captions)}}"]{% endfor %}
---
{% endfor %}

# Подробные инструкции
Ты можешь использовать любой из приложенных шаблонов.
Обязательно используй хотя бы один из шаблонов.
Сделай смешной мем, используя один из шаблонов.
Обязательно перерисуй шаблон, чтобы он лучше подходил под запрос.
Измени персонажей и фоны шаблона под более подходящих.
Запрос может быть перепиской, тогда используй основную тему переписки.
Если запрос содержит инструкции, следуй и им тоже.
Если запрос уже содержит шутку, попробуй её обыграть.

Не используй стандартные подписи, обязательно всегда адаптируй подписи под запрос.
Делай подписи строго на русском языке, даже если в шаблоне они были на английском.
Мем должен быть понятен и сам по себе без контекста запроса.
Мем не должен быть слишком очевидным, постарайся сделать оригинальный, креативный и очень смешной панчлайн.
Подписи не должны быть слишком длинными.
Не стесняйся использовать чёрный юмор и переходить границы, но избегай шуток про самоубийства.

# Запрос (повтор)
---
{{query}}
---
