# Task
Below is a query, as well as a list of available meme templates.
You need to create funny and original memes, based on the query and templates.

# Query
---
{{query}}
---

# Meme Templates {% for template in meme_templates %}
---
ID: {{template.id}}
Name: {{template.name}}{% if template.description %}
Description: {{template.description}}{% endif %}{% for example in template.query_examples %}
Example query {{loop.index}}: "{{example.query}}"
Example captions {{loop.index}}: ["{{'", "'.join(example.captions)}}"]{% endfor %}
---
{% endfor %}

# Detailed Instructions
For the given query, make funny memes using any of the templates above.
The query might be a conversation, then use the main theme of the conversation.
If the query contains instructions, follow them too.
If the query already contains a joke, try to build on it.
Generate {{generated_meme_count}} memes.

For each meme, first write a plan for filling in the captions in the most funny and appropriate way for this specific query.
Don't use standard captions, always adapt the captions to the query.
Make captions strictly in the same language as the query, even if they were in English in the template.
The number of captions must strictly match the example, but you can make empty captions.
The meme should be understandable on its own without the context of the query.
The meme shouldn't be too obvious, try to make an original, creative and very funny punchline.
Captions shouldn't be too long.
Avoid duplicating phrases from the video in captions for video memes.
Don't be afraid to use dark humor and cross boundaries, but avoid jokes about suicide.
Video memes are usually funnier, try to compose and choose them.
After generating all memes, choose objectively the funniest one and put it in best_meme.
You can fix obvious errors when doing this.

# Query (repeat)
---
{{query}}
---

Return a JSON with the following structure and only it:
{
    "memes": [
        {
            "plan": "...",
            "id": "...",
            "captions": ["...", ...]
        },
        ...
    ],
    "best_meme_explanation": "...",
    "best_meme": {
        "id": "...",
        "captions": ["...", ...]
    }
}
