Запрос:
###
{{query}}
###

Шаблоны мемов:
{% for template in meme_templates %}
###
ID: {{loop.index}}
Название: {{template.name}}{% if template.description %}
Описание: {{template.description}}{% endif %}
Пример подписей: {{template.example.text}}
Пример URL: {{template.example.url}}
{% endfor %}
###

Верни ID {{selected_templates_count}} шаблонов, которые больше всего подходят запросу и имеют наибольший потенциал для создания смешного мема по этому запросу.
Постарайся выбрать шаблоны, наиболее подходящие именно под этот запрос.
Сначала возвращай ID наиболее подходящих и приоритетных шаблонов.
Верни JSON следующей структуры:
{
    "memes": [...]
}
Где значение "memes" — это список численных ID.
Не возращай ничего, кроме этого JSON.
